<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Édition</title>
</head>
<body>
    <form action="/note/<%= note.id %>/edit" method="post">
        <div>
            <label for="title">Titre</label>
            <input name="title" type="text" value="<%= note ? note.title : '' %>" />
        </div>
        <div>
            <label for="content">Contenu</label>
            <textarea name="content"><%= note ? note.content : '' %></textarea>
        </div>
        <div>
            <button type="submit">Editer</button>
        </div>
    </form>
</body>
</html>
